<form action="/register" method="post">
    <input type="text" name="name" placeholder="Enter Name">
    <input type="text" name="email" placeholder="Enter Email">
    <input type="text" name="password" placeholder="Enter Password">
    <button class="button" type="submit">REGISTER</button>
</form>